:root {
  --color-primary: rgb(23, 139, 216);
  --color-primary-hover: rgb(24, 118, 180);

  --color-bg: rgba(0, 54, 68, 0.116);
  --color-bg-light: rgba(0, 54, 68, 0.068);
  --color-bg-dark: rgba(31, 20, 63, 0.281);
  
  --color-bg-red: rgba(255, 0, 0, 0.267);
    --color-primary-light: rgba(23, 139, 216, 0.589);
  --color-gray: #293340d2;
  --color-shadow: #03163059;
}
$screen-md:700px;
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  
}

html {
  box-sizing: border-box;
  // font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

  font-weight: 500;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
  // max-width: 1200px;
  margin: auto;
}

ul {
  list-style-type: none;
}
a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

 
 
::-webkit-file-upload-button {
  cursor: pointer;
}

/* IE11 (if it doesn't work, try maybe also on the parent/wrapper) */
input[type="file"] {
  cursor: pointer;
}

*:focus {
  outline: none;
}
*:hover {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
 svg {
  width: 2rem;
}