.btn {
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  background-color: var(--color-primary);
  color: white;
  padding: 1rem 2rem;
  font-weight: bolder;
  font-size: 1rem;
  transition: background-color 0.2s;
  &:hover {
    background-color: var(--color-primary-hover);
  }
  &.loading {
    pointer-events: none;

    background-color: var(--color-primary-hover);
  }
  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }
}

.search-input {
  display: flex;
  background-color: var(--color-bg);
  padding: 1rem;
  border-radius: 2rem;
  border: 0.2rem solid transparent;
  transition: border-color 0.2s;
  position: relative;

  & input {
    background-color: transparent;
    width: 100%;

    border: none;

    font-size: 1rem;
    padding-left: 1rem;
  }
  & svg {
    flex-shrink: 0;
    width: 1.5rem;
    fill: var(--color-gray);
    transition: fill 0.2s;
  }

  &.focus {
    border: 0.2rem solid var(--color-primary);
    & svg {
      fill: var(--color-primary);
    }
  }
}

.v-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & &__links {
    display: flex;
    flex-direction: column;
    & > * {
      margin-bottom: 0.2rem;
    }
    & .twitter-link {
      display: flex;
      padding: 0;
      &:hover {
        background-color: unset;
      }
      padding: 0 0.4rem;

      & div {
        display: flex;
        padding: 0.6rem;
        border-radius: 100%;

        &:hover {
          background-color: var(--color-bg);
        }
        & svg {
          margin-right: 0;
          fill: var(--color-primary);
        }
      }
    }

    & a {
      display: flex;
      max-width: fit-content;
      padding: 0.5rem 1rem;

      align-items: center;
      border-radius: 2rem;
      transition: background-color 0.2s;
      & > svg {
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: var(--color-bg);
      }
    }
  }
  & .account {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    & > * {
      margin-right: 1rem;
    }
    &__avatar {
      height: 3rem;
      width: 3rem;
      background-color: var(--color-bg);
      border-radius: 100%;
    }
    &-name {
      display: flex;
      flex-direction: column;
      &--primary {
        font-weight: bolder;
      }
      &--secondary {
        color: var(--color-gray);
      }
    }
    & svg {
      height: 1.5rem;
    }
    &:hover {
      background-color: var(--color-bg);
    }
  }
}

.h-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.icon-with-cycle {
  display: flex;
  background-color: unset;
  border-radius: 100%;
  padding: 0.6rem;
  transition: background-color 0.2s;
  border: none;
  cursor: pointer;
  & svg {
    height: 1rem;
    width: 1rem;
    fill: var(--color-primary);
  }
  &:hover {
    background-color: var(--color-bg);
  }
}

.card {
  display: flex;
  flex-direction: column;

  background-color: var(--color-bg-light);
  border-radius: 1rem;
  & > * {
    padding: 0.5rem 1rem;
  }
  & &__header {
    display: flex;
    justify-content: space-between;
    & span {
      font-size: 1.2rem;
      font-weight: bolder;
    }
  }

  & .trend-item {
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-bg);
    }
    &__title {
      font-size: 0.8rem;
      font-weight: bolder;
    }
    &__count {
      font-size: 0.7rem;
      color: var(--color-gray);
    }
  }
  & &__footer {
    border-radius: 0 0 1rem 1rem;
    transition: background-color 0.2s;
    & span {
      font-size: 0.8rem;
      color: var(--color-primary);
    }
    &:hover {
      background-color: var(--color-bg);
    }
  }
}
.tweet-form,
.reply-form {
  position: relative;
  padding: 0 1rem;
  padding-top: 1rem;
  & &__letter-count {
    position: absolute;
    right: 2rem;
    top: 0;

    font-size: 0.7rem;
    color: var(--color-gray);
  }
  display: flex;

  flex-direction: column;
  & > * {
    margin-bottom: 1rem;
  }
  &__body {
    display: flex;

    & a {
      background-color: var(--color-bg);
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      margin-right: 1rem;
    }
    & textarea {
      resize: none;
      flex-grow: 2;
      border: none;
      font: inherit;
      padding-top: 0.8rem;
      margin-right: 1rem;
      border-bottom: 0.2rem solid var(--color-bg);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    margin-left: 4rem;
    margin-right: 1rem;
    & .buttons-list {
      display: flex;
      align-items: flex-start;
    }

    & .btn {
      font-size: 0.9rem;
      padding: 0.6rem 1rem;
    }
  }
}

.more {
  max-width: fit-content;
  display: flex;
  flex-direction: column;

  padding: 0.8rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 20px var(--color-shadow);
  font-size: 0.8rem;
  &__delete {
    font: inherit;
    color: red;

    background-color: transparent;
    padding: 0.6rem 2rem;
    // border-radius: 2rem;
    border: none;
    cursor: pointer;

    transition: background-color 0.2s;
    &:hover {
      background-color: var(--color-bg-red);
    }
  }
  &__edit {
    font: inherit;
    color: var(--color-gray);

    background-color: transparent;
    padding: 0.6rem 2rem;
    // border-radius: 2rem;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--color-bg);
    }
  }
}
.log-out {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 20px var(--color-shadow);
  & .account {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    & > * {
      margin-right: 1rem;
    }
    &__avatar {
      height: 3rem;
      width: 3rem;
      background-color: var(--color-bg);
      border-radius: 100%;
    }
    &-name {
      display: flex;
      flex-direction: column;
      &--primary {
        font-weight: bolder;
      }
      &--secondary {
        color: var(--color-gray);
      }
    }
  }
  &__btn {
    font: inherit;
    color: var(--color-gray);

    background-color: transparent;
    padding: 1rem;
    // border-radius: 2rem;
    border: none;
    cursor: pointer;
    border-top: 0.1rem solid var(--color-bg);
    &:hover {
      background-color: var(--color-bg);
    }
  }
}
.loader-container {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
  & .loader {
    position: absolute;
    top: 0;
    border: 0.3rem solid var(--color-primary-light); /* Light grey */
    border-top: 0.3rem solid var(--color-primary-hover); /* Blue */
    border-radius: 50%;
    width: inherit;
    height: inherit;
    animation: spin 0.5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.popup {
  width: 100vw;
  height: 100vh;

  background-color: var(--color-bg-dark);
  position: fixed;
  top: 0;

  & &__content {
    overflow-y: auto;
    width: 95%;
    max-width: 30rem;
    max-height: 100vh;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.tweet {
  max-width: 52rem;
  padding: 1rem;
  &:hover {
    background-color: var(--color-bg-light);
  }
  & > * {
    margin-bottom: 1rem;
  }

  & svg {
    fill: var(--color-gray);
    height: 1.6rem !important;
    width: 1.6rem !important;
  }

  & &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .account {
      display: flex;
      align-items: center;
      width: fit-content;

      & > * {
        margin-right: 1rem;
      }
      &__avatar {
        height: 3rem;
        width: 3rem;
        background-color: var(--color-bg);
        border-radius: 100%;
      }
      &-name {
        display: flex;
        flex-direction: column;
        &--primary {
          font-weight: bolder;
        }
        &--secondary {
          color: var(--color-gray);
        }
      }
    }
  }
  & &__content {
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 1rem;
    }
    & .tweet-text {
      display: block;
      font-size: 1.6rem;
    }
    & .tweet-time {
      display: block;
      font-size: 0.7rem;

      margin-left: auto;
      padding-right: 2rem;
      color: var(--color-gray);
    }
  }
  & &__footer {
    display: flex;
    justify-content: space-around;

    & .count {
      pointer-events: none;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      color: var(--color-gray);
      font-weight: bold;
    }
    & > * {
      position: relative;
    }
    & .red-icon {
      &:hover {
        background-color: var(--color-bg-red);

        & svg {
          fill: red;
        }
      }
    }
  }
}

.tweet-imgs {
  align-self: center;
  max-width: 48rem;
  display: flex;
  flex-wrap: wrap;

  & img {
    max-width: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }
  & img.img-r1-c1-t2 {
    max-width: 49.75%;
    border-radius: 1rem 0 0 1rem;
    margin-right: 0.5%;
  }
  & img.img-r1-c2-t2 {
    max-width: 49.75%;
    border-radius: 0 1rem 1rem 0;
  }
  & img.img-r1-c1-t3 {
    max-width: 49.75%;
    border-radius: 1rem 0 0 0;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
  }
  & img.img-r1-c2-t3 {
    max-width: 49.75%;
    border-radius: 0 1rem 0 0;
    margin-bottom: 0.5%;
  }
  & img.img-r2-t3 {
    max-width: 100%;
    border-radius: 0 0 1rem 1rem;
  }

  & img.img-r1-c1-t4 {
    max-width: 49.75%;
    border-radius: 1rem 0 0 0;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
  }
  & img.img-r1-c2-t4 {
    max-width: 49.75%;
    border-radius: 0 1rem 0 0;
    margin-bottom: 0.5%;
  }
  & img.img-r2-c1-t4 {
    max-width: 49.75%;
    border-radius: 0 0 0 1rem;
    margin-right: 0.5%;
  }
  & img.img-r2-c2-t4 {
    max-width: 49.75%;
    border-radius: 0 0 1rem 0;
  }
}

.reply {
  max-width: 52rem;
  padding: 1rem;
  &:hover {
    background-color: var(--color-bg-light);
  }
  & > * {
    margin-bottom: 1rem;
  }

  & svg {
    height: 1.6rem !important;
    width: 1.6rem !important;
  }

  & &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .account {
      display: flex;
      align-items: center;
      width: fit-content;

      & > * {
        margin-right: 1rem;
      }
      &__avatar {
        height: 3rem;
        width: 3rem;
        background-color: var(--color-bg);
        border-radius: 100%;
      }
      &-name {
        display: flex;
        flex-direction: column;
        &--primary {
          font-weight: bolder;
        }
        &--secondary {
          color: var(--color-gray);
        }
      }
    }
  }
  & &__content {
    display: flex;
    flex-direction: column;

    & .reply-text {
      display: block;
      font-size: 1.2rem;
    }
    & .reply-time {
      display: block;
      font-size: 0.7rem;

      margin-left: auto;
      padding-right: 2rem;
      color: var(--color-gray);
    }
  }
}

.profile-header {
  position: relative;
  & &__cover {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  & &__account {
    position: absolute;

    bottom: 0;
    transform: translateY(50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin-right: 1rem;
    }
    & .account-avatar {
      height: 10rem;
      width: 10rem;
      background-color: var(--color-bg);
      border-radius: 100%;
      object-fit: cover;
      margin-left: 1rem;
    }
    & .account-name {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      &--primary {
        font-weight: bolder;
        font-size: 2rem;
      }
      &--secondary {
        color: var(--color-gray);
      }
    }
  }
  & .btn {
    position: absolute;
    bottom: -5rem;
    right: 0;
  }
}

.profile-header-form {
  flex-direction: column;

  & svg {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    fill: var(--color-primary);
  }

  & .header-view {
    position: relative;

    &__cover {
      height: 10rem;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    &__account {
      position: absolute;

      bottom: 0;
      transform: translateY(50%);

      display: flex;
      flex-direction: column;
      align-items: center;

      & > * {
        margin-right: 1rem;
      }
      & .account-avatar {
        align-self: flex-start;
        height: 5rem;
        width: 5rem;
        background-color: var(--color-bg);
        border-radius: 100%;
        background-size: cover;
        margin-left: 1rem;
      }
      & .account-name {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        &--primary {
          font-weight: bolder;
          font-size: 1rem;
        }
        &--secondary {
          color: var(--color-gray);
          font-size: 0.7rem;
        }
      }
    }
    & .btn {
      position: absolute;
      bottom: -5rem;
      right: 0;
      font-size: 0.8rem;
      padding: 1rem;
    }
  }
}

.empty-6 {
  margin-bottom: 6rem;
}

.form {
  display: flex;
  flex-direction: column;
  & >*{
    margin-bottom: 1rem;
  }
  & &__input {
    display: flex;
    flex-direction: column;
    position: relative;
     
& .err{font-size: .7rem;
  color: red;
  padding-left: .5rem;
}
    &.focus > .label {
      animation: input-label 0.2s linear both;
      color: var(--color-primary);
    }
    &.focus > input {
      border-color: var(--color-primary);
    }
    &.err > .label {
       color: red;
    }
    &.err > input {
      border-color: red;
      color: red;
    }
    & input {
      padding: 0.5rem;
      padding-top: 2rem;
      border: 0.1rem solid var(--color-shadow);
      font-size: 1rem;
      border-radius: 0.3rem;
    }
    & .label {
      position: absolute;
      color: var(--color-gray);
      padding-left: 0.5rem;
      padding-top: 0.8rem;
      font-weight: normal;
      font-size: 1.5rem;
      pointer-events: none;
      animation: input-label 0.2s linear reverse;
    }

    @keyframes input-label {
      // 0% {
      //   padding-top: 0.8rem;
      //   font-size: 1.5rem;

      // }

      100% {
        padding-top: 0rem;
        font-size: 1rem;
        
      }
    }
  }
}
