:root {
  --color-primary: rgb(23, 139, 216);
  --color-primary-hover: rgb(24, 118, 180);
  --color-bg: rgba(0, 54, 68, 0.116);
  --color-bg-light: rgba(0, 54, 68, 0.068);
  --color-bg-dark: rgba(31, 20, 63, 0.281);
  --color-bg-red: rgba(255, 0, 0, 0.267);
  --color-primary-light: rgba(23, 139, 216, 0.589);
  --color-gray: #293340d2;
  --color-shadow: #03163059; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: auto; }

ul {
  list-style-type: none; }

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none; }

::-webkit-file-upload-button {
  cursor: pointer; }

/* IE11 (if it doesn't work, try maybe also on the parent/wrapper) */
input[type="file"] {
  cursor: pointer; }

*:focus {
  outline: none; }

*:hover {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

svg {
  width: 2rem; }

.btn {
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  background-color: var(--color-primary);
  color: white;
  padding: 1rem 2rem;
  font-weight: bolder;
  font-size: 1rem;
  transition: background-color 0.2s; }
  .btn:hover {
    background-color: var(--color-primary-hover); }
  .btn.loading {
    pointer-events: none;
    background-color: var(--color-primary-hover); }
  .btn.disable {
    pointer-events: none;
    opacity: 0.5; }

.search-input {
  display: flex;
  background-color: var(--color-bg);
  padding: 1rem;
  border-radius: 2rem;
  border: 0.2rem solid transparent;
  transition: border-color 0.2s;
  position: relative; }
  .search-input input {
    background-color: transparent;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 1rem; }
  .search-input svg {
    flex-shrink: 0;
    width: 1.5rem;
    fill: var(--color-gray);
    transition: fill 0.2s; }
  .search-input.focus {
    border: 0.2rem solid var(--color-primary); }
    .search-input.focus svg {
      fill: var(--color-primary); }

.v-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .v-nav .v-nav__links {
    display: flex;
    flex-direction: column; }
    .v-nav .v-nav__links > * {
      margin-bottom: 0.2rem; }
    .v-nav .v-nav__links .twitter-link {
      display: flex;
      padding: 0;
      padding: 0 0.4rem; }
      .v-nav .v-nav__links .twitter-link:hover {
        background-color: unset; }
      .v-nav .v-nav__links .twitter-link div {
        display: flex;
        padding: 0.6rem;
        border-radius: 100%; }
        .v-nav .v-nav__links .twitter-link div:hover {
          background-color: var(--color-bg); }
        .v-nav .v-nav__links .twitter-link div svg {
          margin-right: 0;
          fill: var(--color-primary); }
    .v-nav .v-nav__links a {
      display: flex;
      max-width: fit-content;
      padding: 0.5rem 1rem;
      align-items: center;
      border-radius: 2rem;
      transition: background-color 0.2s; }
      .v-nav .v-nav__links a > svg {
        margin-right: 0.5rem; }
      .v-nav .v-nav__links a:hover {
        background-color: var(--color-bg); }
  .v-nav .account {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer; }
    .v-nav .account > * {
      margin-right: 1rem; }
    .v-nav .account__avatar {
      height: 3rem;
      width: 3rem;
      background-color: var(--color-bg);
      border-radius: 100%; }
    .v-nav .account-name {
      display: flex;
      flex-direction: column; }
      .v-nav .account-name--primary {
        font-weight: bolder; }
      .v-nav .account-name--secondary {
        color: var(--color-gray); }
    .v-nav .account svg {
      height: 1.5rem; }
    .v-nav .account:hover {
      background-color: var(--color-bg); }

.h-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem; }

.icon-with-cycle {
  display: flex;
  background-color: unset;
  border-radius: 100%;
  padding: 0.6rem;
  transition: background-color 0.2s;
  border: none;
  cursor: pointer; }
  .icon-with-cycle svg {
    height: 1rem;
    width: 1rem;
    fill: var(--color-primary); }
  .icon-with-cycle:hover {
    background-color: var(--color-bg); }

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-light);
  border-radius: 1rem; }
  .card > * {
    padding: 0.5rem 1rem; }
  .card .card__header {
    display: flex;
    justify-content: space-between; }
    .card .card__header span {
      font-size: 1.2rem;
      font-weight: bolder; }
  .card .trend-item {
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s; }
    .card .trend-item:hover {
      background-color: var(--color-bg); }
    .card .trend-item__title {
      font-size: 0.8rem;
      font-weight: bolder; }
    .card .trend-item__count {
      font-size: 0.7rem;
      color: var(--color-gray); }
  .card .card__footer {
    border-radius: 0 0 1rem 1rem;
    transition: background-color 0.2s; }
    .card .card__footer span {
      font-size: 0.8rem;
      color: var(--color-primary); }
    .card .card__footer:hover {
      background-color: var(--color-bg); }

.tweet-form,
.reply-form {
  position: relative;
  padding: 0 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column; }
  .tweet-form .tweet-form__letter-count,
  .reply-form .tweet-form__letter-count, .tweet-form
  .reply-form__letter-count,
  .reply-form
  .reply-form__letter-count {
    position: absolute;
    right: 2rem;
    top: 0;
    font-size: 0.7rem;
    color: var(--color-gray); }
  .tweet-form > *,
  .reply-form > * {
    margin-bottom: 1rem; }
  .tweet-form__body,
  .reply-form__body {
    display: flex; }
    .tweet-form__body a,
    .reply-form__body a {
      background-color: var(--color-bg);
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      margin-right: 1rem; }
    .tweet-form__body textarea,
    .reply-form__body textarea {
      resize: none;
      flex-grow: 2;
      border: none;
      font: inherit;
      padding-top: 0.8rem;
      margin-right: 1rem;
      border-bottom: 0.2rem solid var(--color-bg); }
  .tweet-form__footer,
  .reply-form__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 4rem;
    margin-right: 1rem; }
    .tweet-form__footer .buttons-list,
    .reply-form__footer .buttons-list {
      display: flex;
      align-items: flex-start; }
    .tweet-form__footer .btn,
    .reply-form__footer .btn {
      font-size: 0.9rem;
      padding: 0.6rem 1rem; }

.more {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 20px var(--color-shadow);
  font-size: 0.8rem; }
  .more__delete {
    font: inherit;
    color: red;
    background-color: transparent;
    padding: 0.6rem 2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s; }
    .more__delete:hover {
      background-color: var(--color-bg-red); }
  .more__edit {
    font: inherit;
    color: var(--color-gray);
    background-color: transparent;
    padding: 0.6rem 2rem;
    border: none;
    cursor: pointer; }
    .more__edit:hover {
      background-color: var(--color-bg); }

.log-out {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 20px var(--color-shadow); }
  .log-out .account {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 2rem; }
    .log-out .account > * {
      margin-right: 1rem; }
    .log-out .account__avatar {
      height: 3rem;
      width: 3rem;
      background-color: var(--color-bg);
      border-radius: 100%; }
    .log-out .account-name {
      display: flex;
      flex-direction: column; }
      .log-out .account-name--primary {
        font-weight: bolder; }
      .log-out .account-name--secondary {
        color: var(--color-gray); }
  .log-out__btn {
    font: inherit;
    color: var(--color-gray);
    background-color: transparent;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-top: 0.1rem solid var(--color-bg); }
    .log-out__btn:hover {
      background-color: var(--color-bg); }

.loader-container {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem; }
  .loader-container .loader {
    position: absolute;
    top: 0;
    border: 0.3rem solid var(--color-primary-light);
    /* Light grey */
    border-top: 0.3rem solid var(--color-primary-hover);
    /* Blue */
    border-radius: 50%;
    width: inherit;
    height: inherit;
    animation: spin 0.5s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.popup {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-dark);
  position: fixed;
  top: 0; }
  .popup .popup__content {
    overflow-y: auto;
    width: 95%;
    max-width: 30rem;
    max-height: 100vh;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.tweet {
  max-width: 52rem;
  padding: 1rem; }
  .tweet:hover {
    background-color: var(--color-bg-light); }
  .tweet > * {
    margin-bottom: 1rem; }
  .tweet svg {
    fill: var(--color-gray);
    height: 1.6rem !important;
    width: 1.6rem !important; }
  .tweet .tweet__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .tweet .tweet__header .account {
      display: flex;
      align-items: center;
      width: fit-content; }
      .tweet .tweet__header .account > * {
        margin-right: 1rem; }
      .tweet .tweet__header .account__avatar {
        height: 3rem;
        width: 3rem;
        background-color: var(--color-bg);
        border-radius: 100%; }
      .tweet .tweet__header .account-name {
        display: flex;
        flex-direction: column; }
        .tweet .tweet__header .account-name--primary {
          font-weight: bolder; }
        .tweet .tweet__header .account-name--secondary {
          color: var(--color-gray); }
  .tweet .tweet__content {
    display: flex;
    flex-direction: column; }
    .tweet .tweet__content > * {
      margin-bottom: 1rem; }
    .tweet .tweet__content .tweet-text {
      display: block;
      font-size: 1.6rem; }
    .tweet .tweet__content .tweet-time {
      display: block;
      font-size: 0.7rem;
      margin-left: auto;
      padding-right: 2rem;
      color: var(--color-gray); }
  .tweet .tweet__footer {
    display: flex;
    justify-content: space-around; }
    .tweet .tweet__footer .count {
      pointer-events: none;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      color: var(--color-gray);
      font-weight: bold; }
    .tweet .tweet__footer > * {
      position: relative; }
    .tweet .tweet__footer .red-icon:hover {
      background-color: var(--color-bg-red); }
      .tweet .tweet__footer .red-icon:hover svg {
        fill: red; }

.tweet-imgs {
  align-self: center;
  max-width: 48rem;
  display: flex;
  flex-wrap: wrap; }
  .tweet-imgs img {
    max-width: 100%;
    border-radius: 1rem;
    object-fit: cover; }
  .tweet-imgs img.img-r1-c1-t2 {
    max-width: 49.75%;
    border-radius: 1rem 0 0 1rem;
    margin-right: 0.5%; }
  .tweet-imgs img.img-r1-c2-t2 {
    max-width: 49.75%;
    border-radius: 0 1rem 1rem 0; }
  .tweet-imgs img.img-r1-c1-t3 {
    max-width: 49.75%;
    border-radius: 1rem 0 0 0;
    margin-right: 0.5%;
    margin-bottom: 0.5%; }
  .tweet-imgs img.img-r1-c2-t3 {
    max-width: 49.75%;
    border-radius: 0 1rem 0 0;
    margin-bottom: 0.5%; }
  .tweet-imgs img.img-r2-t3 {
    max-width: 100%;
    border-radius: 0 0 1rem 1rem; }
  .tweet-imgs img.img-r1-c1-t4 {
    max-width: 49.75%;
    border-radius: 1rem 0 0 0;
    margin-right: 0.5%;
    margin-bottom: 0.5%; }
  .tweet-imgs img.img-r1-c2-t4 {
    max-width: 49.75%;
    border-radius: 0 1rem 0 0;
    margin-bottom: 0.5%; }
  .tweet-imgs img.img-r2-c1-t4 {
    max-width: 49.75%;
    border-radius: 0 0 0 1rem;
    margin-right: 0.5%; }
  .tweet-imgs img.img-r2-c2-t4 {
    max-width: 49.75%;
    border-radius: 0 0 1rem 0; }

.reply {
  max-width: 52rem;
  padding: 1rem; }
  .reply:hover {
    background-color: var(--color-bg-light); }
  .reply > * {
    margin-bottom: 1rem; }
  .reply svg {
    height: 1.6rem !important;
    width: 1.6rem !important; }
  .reply .reply__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .reply .reply__header .account {
      display: flex;
      align-items: center;
      width: fit-content; }
      .reply .reply__header .account > * {
        margin-right: 1rem; }
      .reply .reply__header .account__avatar {
        height: 3rem;
        width: 3rem;
        background-color: var(--color-bg);
        border-radius: 100%; }
      .reply .reply__header .account-name {
        display: flex;
        flex-direction: column; }
        .reply .reply__header .account-name--primary {
          font-weight: bolder; }
        .reply .reply__header .account-name--secondary {
          color: var(--color-gray); }
  .reply .reply__content {
    display: flex;
    flex-direction: column; }
    .reply .reply__content .reply-text {
      display: block;
      font-size: 1.2rem; }
    .reply .reply__content .reply-time {
      display: block;
      font-size: 0.7rem;
      margin-left: auto;
      padding-right: 2rem;
      color: var(--color-gray); }

.profile-header {
  position: relative; }
  .profile-header .profile-header__cover {
    height: 50vh;
    width: 100%;
    object-fit: cover; }
  .profile-header .profile-header__account {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .profile-header .profile-header__account > * {
      margin-right: 1rem; }
    .profile-header .profile-header__account .account-avatar {
      height: 10rem;
      width: 10rem;
      background-color: var(--color-bg);
      border-radius: 100%;
      object-fit: cover;
      margin-left: 1rem; }
    .profile-header .profile-header__account .account-name {
      display: flex;
      flex-direction: column;
      padding-left: 1rem; }
      .profile-header .profile-header__account .account-name--primary {
        font-weight: bolder;
        font-size: 2rem; }
      .profile-header .profile-header__account .account-name--secondary {
        color: var(--color-gray); }
  .profile-header .btn {
    position: absolute;
    bottom: -5rem;
    right: 0; }

.profile-header-form {
  flex-direction: column; }
  .profile-header-form svg {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    fill: var(--color-primary); }
  .profile-header-form .header-view {
    position: relative; }
    .profile-header-form .header-view__cover {
      height: 10rem;
      width: 100%;
      background-size: cover;
      background-position: center; }
    .profile-header-form .header-view__account {
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
      display: flex;
      flex-direction: column;
      align-items: center; }
      .profile-header-form .header-view__account > * {
        margin-right: 1rem; }
      .profile-header-form .header-view__account .account-avatar {
        align-self: flex-start;
        height: 5rem;
        width: 5rem;
        background-color: var(--color-bg);
        border-radius: 100%;
        background-size: cover;
        margin-left: 1rem; }
      .profile-header-form .header-view__account .account-name {
        display: flex;
        flex-direction: column;
        padding-left: 1rem; }
        .profile-header-form .header-view__account .account-name--primary {
          font-weight: bolder;
          font-size: 1rem; }
        .profile-header-form .header-view__account .account-name--secondary {
          color: var(--color-gray);
          font-size: 0.7rem; }
    .profile-header-form .header-view .btn {
      position: absolute;
      bottom: -5rem;
      right: 0;
      font-size: 0.8rem;
      padding: 1rem; }

.empty-6 {
  margin-bottom: 6rem; }

.form {
  display: flex;
  flex-direction: column; }
  .form > * {
    margin-bottom: 1rem; }
  .form .form__input {
    display: flex;
    flex-direction: column;
    position: relative; }
    .form .form__input .err {
      font-size: .7rem;
      color: red;
      padding-left: .5rem; }
    .form .form__input.focus > .label {
      animation: input-label 0.2s linear both;
      color: var(--color-primary); }
    .form .form__input.focus > input {
      border-color: var(--color-primary); }
    .form .form__input.err > .label {
      color: red; }
    .form .form__input.err > input {
      border-color: red;
      color: red; }
    .form .form__input input {
      padding: 0.5rem;
      padding-top: 2rem;
      border: 0.1rem solid var(--color-shadow);
      font-size: 1rem;
      border-radius: 0.3rem; }
    .form .form__input .label {
      position: absolute;
      color: var(--color-gray);
      padding-left: 0.5rem;
      padding-top: 0.8rem;
      font-weight: normal;
      font-size: 1.5rem;
      pointer-events: none;
      animation: input-label 0.2s linear reverse; }

@keyframes input-label {
  100% {
    padding-top: 0rem;
    font-size: 1rem; } }
